body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(224, 222, 222);
}
h1{
    color: rgb(102, 43, 156);
}
form{
    background-color: white;
    margin:auto;
    text-align: center;
    max-width: 450px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.849);
}
#textbox{
    width:50%;
    text-align: center;
    font-size: 2em;
    border:2px solid rgba(0, 0, 0, 0.473);
    border-radius:4px;
    margin-bottom:15px;
}
label{
    font-size: 1.5em;
    font-weight:bold;
}
button{
    background-color: hsla(0, 100%, 50%, 0.897);
    color:white;
    padding: 10px 15px;
    border-radius:5px;
    font-size: 1.5em;
    border: none;
    margin-top: 15px;
    cursor:pointer;
}
button:hover{
    background-color: rgb(236, 7, 7);
}
#result{
    font-weight: bold;
    font-size: 1.75em;
}